# Beef
build/
recovery/
support/
BeefSpace_User.toml

.claude/
.vscode/
nul

OpenDDL/
ReferenceSedulous/
claude.md
renderer.md

Assets/cache/
new_ui.md
ui_status.md
ui.md
fonts.md
fonts-implementation-plan.md
drawing.md
Code/app_framework.md
